section {
    background-color: rgba(255, 255, 255, 0.2);
}

.mvctodo h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
	font: 16px Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: white;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
}

input[type=text]{
    font-style: italic;
    font-size: 20px;
    width: 100%;
    padding: 20px 20px 20px 50px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3),
	            0 20px 50px 0 rgba(0, 0, 0, 0.2);
}
button{
    margin-left: 5px;
}