section {
    background-color: rgba(255, 255, 255, 0.2);
}

li {
    margin-bottom: 20px;
}

ol {
    list-style: none;
    padding: 0;
}

.mvctodo h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
	font: 16px Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: white;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
}

input[type=text]{
    font-style: italic;
    font-size: 20px;
    width: 100%;
    padding: 20px 20px 20px 50px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3),
	            0 20px 50px 0 rgba(0, 0, 0, 0.2);
}
button {
    margin-left: 5px;
    margin-top: 0.5em;
    float: right;
    background: url("https://web.2018.plus.jakobkallin.com/project/icons/cross.svg");
    background-size: 100%;
    border: hidden;
    height: 20px;
    widows: 20px;
}

input[type='checkbox'] {
    display: none;
}

.listItemLabel {
    font-size: 24px;
    padding-left: 0.5em;
}

.listItem {
    border: solid;
    border-style: ridge;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.checkBoxLabel {
    margin-top: 0.5em;
}

input[type=checkbox] + .checkBoxLabel {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("https://web.2018.plus.jakobkallin.com/project/icons/checkbox-unchecked.svg") no-repeat;
    height: 20px;
    width: 20px;
    background-size: 100%;
    
}

input[type=checkbox]:checked + .checkBoxLabel {
    background:url("https://web.2018.plus.jakobkallin.com/project/icons/checkbox-checked.svg") no-repeat;
    height: 20px;
    width: 20px;
    display:inline-block;
    background-size: 100%;
}